.case-wrapper {
    margin: var(--spacerMobile);
}

.case-top-wrapper {
    margin-top: 4rem;
}

.case-right {
    margin-top: 3rem;
}

.case-number {
    font-size: 24vw;
    font-weight: 600;
    color: #f5f5f5;
    text-align: center;
    line-height: 76%;
}

.case-title {
    margin-bottom: 1rem;
}

.case-info {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}

.case-tools {
    margin: 4rem 0;
}

.case-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 30rem;
}

.case-link {
    margin-bottom: 2rem;
} 

@media only screen and (min-width: 768px) {

    .case-wrapper {
        margin: 0 3rem;
    }

    .case-number {
        font-size: 22.5vw;
    }

}

@media only screen and (min-width: 1024px) {

    .case-wrapper {
        margin: 0 5rem;
    }

    .case-top-wrapper {
        display: grid;
        grid-template-columns: 45% 1fr;
        gap: 5rem;
    }

    .case-right {
        margin-top: 8rem;
    }

    .case-number {
        font-size: 10vw;
    }

    .case-info {
        padding-right: 6rem;
    }
}