.case-wrapper {
    margin: var(--spacerMobile);
}

.case-top-wrapper {
    margin-top: 3rem;
}

.case-number {
    font-size: 24vw;
    font-weight: 600;
    color: #f5f5f5;
}

.case-image {
    margin-top: -1.4rem;
}

.case-title {
    margin-bottom: 1rem;
}

.case-info {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}

.case-tools {
    margin: 4rem 0;
}

.case-link {
    margin-right: 6rem;
}

@media only screen and (min-width: 768px) {

    .case-wrapper {
        margin: 0 3rem;
    }

    .case-number {
        font-size: 22.5vw;
    }

}

@media only screen and (min-width: 1024px) {

    .case-wrapper {
        margin: 0 5rem;
    }

    .case-top-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .case-right {
        margin-top: 10rem;
    }

    .case-number {
        font-size: 10.9vw;
    }

    .case-image {
        width: 90%;
        margin-top: -1.4rem;
    }

    .case-info {
        padding-right: 6rem;
    }
}