.case-preview-wrapper {
    margin: 5rem 0;
}

@media only screen and (min-width: 768px) {
    .case-preview-wrapper {
        margin: 2rem 0;
        display: flex;
        align-items: center;
        align-content: space-between;
    }
    .case-preview-image {
        width: 50%;
    }

    .case-preview-text {
        width: 22rem;
        margin-left: 4rem;
    }

    .case-preview-wrapper:nth-child(2) {
        flex-direction: row-reverse;
        justify-content: space-between;

        .case-preview-text {
            margin-left: 0;
            margin-right: 4rem;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .case-preview-image {
        width: 47%;
    }
}