.footer {
  padding: 2rem var(--spacerMobile);
  background-color: var(--colorDark);
  color: var(--colorLight);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-menu {
  color: #fff;
}

.socials-footer {
  margin-bottom: 2rem;
  a {
    color: #fff;
    font-size: 1.6rem;
    padding: .5rem;
    margin-right: .25rem;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 2rem 3rem;
      flex-direction: row;
  }
  .socials-footer {
    margin-bottom: 0;
  } 
}

@media only screen and (min-width: 1024px) {
  .footer {
    padding: 3rem 5rem;
  }
}