.header {
  margin: var(--spacerMobile);
  font-size: var(--fontMedium);
}

.title {
  font-size: 1.5rem;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials {
  display: none;
}

.hamburger {
  padding: var(--spacerSmall);
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;

  .bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px;
    border-radius: 4px;
    transition: all .25s ease-in-out;
    background-color: var(--colorDark);
  }
}

.hamburger.open  {
  .bar1 {
    transform: translate3d(0, 4px, 0) rotate(45deg);
  }
  .bar2 {
    transform: translate3d(0, -4px, 0) rotate(-45deg);
  }
}

.menu {
  display: none;
}

.menu.open {
  display: inline;
}

.menu.open body{
  overflow: hidden;
}

@media only screen and (max-width: 768px) {

  .navigation {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--colorLight);
    z-index: 5;

    .navList {
      margin-top: 5rem;
      margin-left: .5rem;
    }

    .navlink {
      font-size: var(--fontBig);
      font-weight: 600;
      padding: 1rem;
      margin: 1rem 0;
    }

    .active {
      color: var(--colorLight);
      -webkit-text-stroke: 1.5px var(--colorDark);
    }
  }
}

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 2rem 3rem;
  }

  .title {
    letter-spacing: normal;
  }

  .navigation {

    .navList {
      display: flex;
    }

    .navlink {
      margin: var(--spacerRegular);
      padding-bottom: 2px;
      background-image: linear-gradient(var(--colorDark), var(--colorDark));
      background-position: 0 100%;
      background-size: 0% 2px;
      background-repeat: no-repeat;
      transition: background-size 0.3s, background-position 0s 0.3s;

      &:hover{
        background-position: 100% 100%;
        background-size: 100% 2px;
      }
    }

    .active {
      background-image: linear-gradient(var(--colorDark), var(--colorDark));
      background-position: 100% 100%;
      background-size: 100% 2px;
      background-repeat: no-repeat;
    }
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    margin: 2rem 5rem;
  }
  .socials {
    display: inline;
    font-size: 1.5rem;

    a {
      margin: var(--spacerSmall);
    }
  }
}