.quick-links-wrapper {
    margin: 6rem var(--spacerMobile);
}

.quick-links {
    display: flex;
    flex-wrap: wrap;
    gap: .9rem;
}

.quick-link {
    font-size: 1.3rem;
    font-weight: 600;

    .active {
        text-decoration: line-through;
        color: var(--colorLightGray);
    }
}

@media only screen and (min-width: 768px) {
    .quick-links-wrapper {
        margin: 6rem 3rem;
    }

    .quick-links {
        gap: 1.5rem;
    }

    .quick-link {
    font-size: 1.5rem;
    font-weight: 600;
    }
}


@media only screen and (min-width: 1024px) {
    .quick-links-wrapper {
        margin: 7rem 5rem;
    }
}