.homeWrapper {
  margin: var(--spacerMobile);
  margin-top: 3rem;
}

@media only screen and (min-width: 768px) {
  .homeWrapper {
    margin: 2rem 3rem;
  }

  .home-intro {
    padding: 3rem 0rem
  }
}

@media only screen and (min-width: 1024px) {
  .homeWrapper {
    margin: 2rem 5rem;
  }
}