.homeWrapper {
  margin: var(--spacerMobile);
}

.home-intro {
  padding: 2rem 0rem
}

@media only screen and (min-width: 768px) {
  .homeWrapper {
    margin: 0 3rem;
  }

  .home-intro {
    padding: 4rem 0rem
  }
}

@media only screen and (min-width: 1024px) {
  .homeWrapper {
    margin: 0 5rem;
  }

  .home-intro {
    padding: 7rem 0rem
  }
}