@import url("https://use.typekit.net/yro0imc.css");

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: aktiv-grotesk, sans-serif;
  font-display: swap;
  font-size: var(--fontRegular);
  color: var(--colorDark);
  background-color: var(--colorLight);
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.overflow {
  overflow: hidden;
}

.button {
  display: inline-flex;
  align-items: center;
  transition: .4s;
  
  .button-text {
    margin-left: var(--spacerSmall);
    font-size: 1.15rem;
  }

  .button-arrow {
    width: 2.5rem;

    .svg--arrow {
      fill: var(--colorDark);
    }
  
    .svg--circle {
      fill: none;
      stroke: var(--colorDark);
      stroke-miterlimit: 10;
      stroke-width: 1px;
    }
  }
}

li, a {
  text-decoration: none;
  color: var(--colorDark);
}

h2 {
  line-height: 3rem;
  font-weight: 500;
  font-size: 1.75rem;
  margin: 1.5rem 0;
}

h3 {
  line-height: 2.1rem;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: var(--spacerSmall);
}

h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--colorLightGray);
  line-height: 1.9rem;
  font-size: 14px;
}

p {
  color: var(--colorGray);
  line-height: 1.9rem;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .button {
    &:hover {
      padding-left: .75rem;
      transition: .4s;
      .svg--circle {
        fill: var(--colorAccent);
      }
    }
  }
}
