@import url("https://use.typekit.net/yro0imc.css");

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: var(--fontRegular);
  font-family: aktiv-grotesk, sans-serif;
  color: var(--colorText);
  background-color: var(--color--white);
}