@import url("https://use.typekit.net/yro0imc.css");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: greycliff-cf, sans-serif;
  font-display: swap;
  font-size: var(--fontRegular);
  color: var(--colorDark);
  background-color: var(--colorWhite);
  transition: .6s;
}

li,
a {
  text-decoration: none;
}

p {
  line-height: 130%;
}

body:has(#checkHover:hover) {

  background-color: var(--colorBackground);
}

// @keyframes bgcolor {
//   0% {
//     background-color: #F4FBE4;
//   }

//   20% {
//     background-color: #E4FBEC;
//   }

//   40% {
//     background-color: #E4F3FB;
//   }

//   60% {
//     background-color: #F2E4FB;
//   }

//   80% {
//     background-color: #FBEAE4;
//   }

//   100% {
//     background-color: #FBF9E4;
//   }
// }

// body:has(#checkHover:hover) {
//   animation-delay: 10s;
//   animation: bgcolor 16s infinite;
// }