:root {
  --colorLightest: #ffffff;
  --colorText: #1d1d1d;
  --colorAccent: #ffa300;
  --colorGrey: #cfcfcf;
  --spacerSmall: .5rem;
  --spacerRegular: .75rem;
  --spacerMobile: .9rem;
  --spacerMedium: 1.25rem;
  --spacerBig: 1.5rem;
  --fontSmall: .5rem;
  --fontRegular: 1rem;
  --fontMedium: 1.2rem;
  --fontLarge: 2.5rem;
  --fontBig: 3rem;
  --fontWeightRegular: 500;
  --fontWeightBold: 700;
}