:root {
  --colorLight: #ffffff;
  --colorDark: #000000;
  --colorAccent: #FF5959;
  --colorGray: #474747;
  --spacerSmall: .5rem;
  --spacerRegular: .75rem;
  --spacerMobile: .9rem;
  --spacerMedium: 1rem;
  --spacerBig: 1.5rem;
  --fontSmall: .5rem;
  --fontRegular: 1rem;
  --fontMedium: 1.2rem;
  --fontLarge: 2.5rem;
  --fontBig: 3rem;
  --fontWeightRegular: 500;
  --fontWeightBold: 700;
}