.wrapper {
  margin: 5rem var(--spacerMobile);
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: .5rem;
}

.text {
  font-size: 1.3rem;
}

.socials {
  justify-self: center;
  margin: 3rem 0;
}

.type {
  color: var(--colorGray);
  font-size: 18px;
  text-transform: uppercase;
  margin: 1.5rem 0 .5rem 0;
}

.social {
  margin: .5rem 0;
}

.link {
  color: var(--colorDark);
  font-size: 1.3rem;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    margin: 9rem 3rem;
  }

  .text {
    font-size: 1.5rem;
  }

  .link {
    font-size: 1.5rem;
  }

}

@media only screen and (min-width: 1024px) {
  .wrapper {
    margin: 12rem auto;
    padding: 0 3rem;
    max-width: var(--maxWidth);
  }

  .title {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: .5rem;
  }

}