.wrapper {
  margin: var(--spacerMobile);
}

.intro {
  padding: 2rem 0rem
}

.introText {
  margin: 1.5rem 0;
  font-size: 5rem;
  font-weight: 600;
  line-height: 120%;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    margin: 0 3rem;
  }

  .intro {
    padding: 4rem 0rem
  }
}

@media only screen and (min-width: 1024px) {

  .intro {
    padding: 7rem 0rem
  }
}