.wrapper {
    margin-bottom: 4rem;
}

.title {
    color: var(--colorDark);
    font-size: 2rem;
    font-weight: 600;
    margin: .6rem 0;
}

.image {
    transform: scale(1.02);
}

.subtitle {
    color: var(--colorGray);
    font-size: 15px;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 52%;
        margin-bottom: 0;
    }

}

@media only screen and (min-width: 1024px) {
    .wrapper {
        transition: .2s;

        &:hover {
            transform: skew(.75deg, .75deg);
            opacity: .75;
        }
    }

    .imageWrapper {
        overflow: hidden;
        background-color: var(--colorDark);
    }
}