.footer {
  background-color: var(--colorDark);
  color: var(--colorLight);
  position: relative;
}

.wrapper {
  padding: 2rem var(--spacerMobile);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-menu {
  color: #fff;
}

.socials {
  margin-bottom: 2rem;

  a {
    color: #fff;
    font-size: 1.6rem;
    padding: .5rem;
    margin-right: .25rem;
  }
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    padding: 2rem 3rem;
    flex-direction: row;
  }

  .socials {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    margin: 0 auto;
    padding: 3rem 3rem;
    max-width: var(--maxWidth);
  }
}