.header {
  margin: var(--spacerMobile);
}

.title {
  font-size: var(--fontLarge);
  letter-spacing: -1px;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navlink {
  margin: var(--spacerRegular);
  padding-bottom: 1px;
  font-size: var(--fontMedium);
}

.socials a {
  margin: var(--spacerSmall);
}

.hamburger {
  padding: var(--spacerSmall);
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 4px;
    transition: all .3s ease-in-out;
    background-color: var(--colorDark);
  }

  .bar2 {
    width: 20px;
  }
}

.hamburger.open  {
  .bar1 {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  .bar2 {
    opacity: 0;
  }

  .bar3 {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }
}

.menu {
  display: none;
}

.menu.open {
  display: block;
}

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 2rem 3rem;
  }

  .title {
    letter-spacing: normal;
  }

  .navigation {
    flex-direction: row;

    .navlink {
      background-image: linear-gradient(var(--colorDark), var(--colorDark));
      background-position: 0 100%;
      background-size: 0% 2px;
      background-repeat: no-repeat;
      transition: background-size 0.3s, background-position 0s 0.3s;

      &:hover{
        background-position: 100% 100%;
        background-size: 100% 2px;
      }
    }

    .active {
      background-image: linear-gradient(var(--colorDark), var(--colorDark));
      background-position: 100% 100%;
      background-size: 100% 2px;
      background-repeat: no-repeat;
    }
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .socials {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    margin: 3rem 5rem;
  }
  .socials {
    display: inline;
    font-size: 1.5rem;
  }
}