.header {
  margin: var(--spacerMobile);
  font-size: var(--fontMedium);
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.name {
  color: var(--colorDark);
}

.navigation {

  .navList {
    display: flex;
  }

  .navItem {
    padding: 0 1rem;
  }

  .navLink {
    color: var(--colorDark);
    transition: .125s;

    &:hover {
      color: var(--colorGray);
      transition: .125s;
    }

  }

  .navLinkActive {
    color: var(--colorGray);
  }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {

  .navigation {
    display: none;
  }

}

@media only screen and (min-width: 768px) {

  .header {
    margin: 2rem 3rem;
  }

  .hamburger {
    display: none;
  }

}

@media only screen and (min-width: 1024px) {}



.hamburger {
  padding: var(--spacerSmall);
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;

  .bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px;
    border-radius: 4px;
    transition: all .25s ease-in-out;
    background-color: var(--colorDark);
  }
}

/*
.hamburger.open {
  .bar1 {
    transform: translate3d(0, 4px, 0) rotate(45deg);
  }

  .bar2 {
    transform: translate3d(0, -4px, 0) rotate(-45deg);
  }
}

.menu {
  display: none;
}

.menu.open {
  display: inline;
}

.menu.open body {
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .navigation {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--colorDark);
    z-index: 5;
  
    .navLink {
      color: var(--colorLight);
    }
  }


    .navList {
      margin-top: 5rem;
      margin-left: .5rem;
    }

    .navlink {
      font-size: var(--fontBig);
      font-weight: 600;
      padding: 1rem;
      margin: 1rem 0;
    }

    .active {
      color: var(--colorLight);
      -webkit-text-stroke: 1.5px var(--colorDark);
    }
  }
}

@media only screen and (min-width: 768px) {

  .navigation {

    .navList {
      display: flex;
    }

    .nav-link {}

    .active {
      color: var(--colorDark)
    }
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    margin: 2rem 5rem 0 5rem;
  }
} */