.lineWrapper {
  margin: 3rem 0;
}

.line {
  border: none;
  height: 2px;
  background: var(--colorDark);
}

.items {
  display: flex;
  justify-content: space-between;
}

.itemScreenLarge {
  display: none;
}

.itemScreenXLarge {
  display: none;
}

@media only screen and (min-width: 768px) {

  .itemScreenLarge {
    display: block;
  }

}

@media only screen and (min-width: 1200px) {

  .itemScreenXLarge {
    display: block;
  }

}