.wrapper {
    margin: 6rem var(--spacerMobile);
}

.list {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 500;
}

.item {
    margin-right: 1rem;
    margin-top: .5rem;
}

.link {
    color: var(--colorDark);
    transition: .125s;

    &:hover {
        color: var(--colorGray);
        transition: .125s;
    }
}

.linkActive {
    color: var(--colorGray);
}

@media only screen and (min-width: 768px) {
    .wrapper {
        margin: 6rem 3rem;
    }
}


@media only screen and (min-width: 1024px) {
    .wrapper {
        margin: 7rem 3rem;
    }
}