.text {
    margin: 10vh 0 20vh 0;
    font-weight: 600;
}

.title {
    font-size: 2.4rem;
    margin-bottom: .5rem;
}

.backgroundColor {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40vh;
    z-index: -1;
}

.info {
    .infoOverview {
        margin-bottom: 4rem;
    }

    .infoTitle {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    .infoGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 7.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .text {
        margin: 5vh 0 20vh 0;
    }

    .title {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    .info {
        .infoTitle {
            font-size: 2rem;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .text {
        margin: 15vh 0 25vh 0;
    }

    .title {
        font-size: 5rem;
    }

    .subTitle {
        font-size: 1.3rem;
    }

    .info {
        margin: 10rem 0 10rem 0;
        display: grid;
        grid-template-columns: 2fr 1fr;


        .infoOverview {
            margin-bottom: 0rem;
            margin-right: 8rem;
        }
    }
}